

<div class="grid_16 box">
  <h1>Teams</h1>
  <p>Some basic overview of team play and values goes here</p>
</div>
<div class="grid_16">

  <table>
	  <thead>
	  <tr>
		  <td class="grid_6"><h2><%= Team.genders[0] %></h2></td>
		  <td class="grid_5"><h2><%= Team.genders[1] %></h2></td>
	  </tr>
	  </thead>
	  <tbody>



	  <% @teams_by_year_and_gender.each do |year, boys_and_girls| %>
	  <tr>
		  <td class="grid_6">
			  <% boys_and_girls[0].each do |team|  %>
				<h3><%= link_to team.to_s, team %></h3>
			  <% end %>
		  </td>
		  <td class="grid_5">
			  <% boys_and_girls[1].each do |team| %>
			  <h3><%= link_to team.to_s, team %></h3>
			  <% end %>
		  </td>
	  </tr>
	  <% end %>
	  </tbody>
  </table>
</div>
