= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true } do |f|
  %h3
    Warning: All team records are replaced during this operation.
    %br
      If you'd like to update existing teams, click the CSV link on the previous screen to download the existing teams first.
  %table
    %tr
      %td
        %label{:for => "dump_file"}
          Select a CSV File :
      %td
        = f.file_field :file
    %tr
      %td
        = submit_tag 'Submit'

