
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore uploaded images
assets

*.rbc
*.sassc
.sass-cache
capybara-*.html
/vendor/bundle
/vendor/cache
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.idea/
*.iml
public/assets/*
public/uploads/*
public/cache/*
public/ckeditor_assets/*
config/secrets.yml
config/*.p12
.vagrant
.capistrano

# Ignore Google config
tools/USClubForms/config.json
tools/USClubForms/Boys
tools/USClubForms/Girls
tools/Tryouts/config.json
tools/Tryouts/*.xlsx
tools/Tryouts/client_secret.json

docker
.env
