
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

*.rbc
*.sassc
.sass-cache
capybara-*.html
/vendor/bundle
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.idea/
*.iml
public/assets/*
public/uploads/*
public/cache/*
config/secrets.yml
config/*.p12
.vagrant
