
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

*.rbc
*.sassc
.sass-cache
capybara-*.html
/vendor/bundle
/vendor/cache
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.idea/
*.iml
public/assets/*
public/uploads/*
public/cache/*
public/ckeditor_assets/*
config/*.p12
.vagrant
.capistrano

# Ignore Google config
USClubForms/config.json
USClubForms/Boys
USClubForms/Girls
Tryouts/config.json
Tryouts/*.xlsx
Tryouts/client_secret.json

docker
.centralmarinsoccer.env

data/*
