www.qa.centralmarinsoccer.com {
  redir https://qa.centralmarinsoccer.com{uri}
}

qa.centralmarinsoccer.com, centralmarinsoccer.com {

  # expose logs via docker
  log stdout
  errors stderr

  proxy / http://app:3000 
}

qa.centralmarinsoccer.com/assets, centralmarinsoccer.com/assets {
  root public
  header /assets Cache-Controll "public, max-age=2592000"
}
