%div.grid_1
  &nbsp;
%div.grid_14
  %iframe{src: "http://www.google.com/calendar/embed?src=centralmarinsoccer.com_pi0sco1fsmkrupnfdnb5jovf40%40group.calendar.google.com&ctz=America/Los_Angeles", style: "border: 0", width:"800", height:"600", frameborder:"0", scrolling:"no"}
%div.grid_1
  &nbsp;