!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %style{type:"text/css"}= Rails.application.assets_manifest.assets["player_portal_email.scss"]
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Central Marin Soccer Club
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :topmargin => "0"}
  %center
    %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
      %tr
        %td#bodyCell{:align => "center", :valign => "top"}
          / BEGIN TEMPLATE //
          %table#templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:align => "center", :valign => "top"}
                / BEGIN HEADER //
                %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.headerContent{:valign => "top"}
                      %img#headerImage{:src => image_path('email_header.jpg'), :style => "max-width:600px;"}/
            / // END HEADER
            %tr
              %td{:align => "center", :valign => "top"}
                / BEGIN COLUMNS //
                %table#templateColumns{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.templateColumnContainer{:align => "center", :style => "padding-top:20px;", :valign => "top"}
                      %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.leftColumnContent{:valign => "top"}
                            %h3 Congratulations on #{@player_portal.first} being selected to a Central Marin soccer team!
                            %p
                              This year we have a new online registration system. All players may register online, but new players must have a representative at the club information presentation at 7:30pm on Thursday, March 17th at the San Rafael Community Center. Registration is available at the Community Center from 7-7:30 or 8-8:30 for anyone having trouble registering online. If your family is applying for financial aid, you must attend the information night.
                            %p
                              Board members will be available that night from 7-8:30 to answer any questions families have.
                            %p
                              Please
                              %a{:href => player_portal_url(@player_portal.uid, host: 'https://centralmarinsoccer.com'), :target => "_blank"}
                                click on the link
                              and enter your child’s birthday to begin registering your child.
                    %td.templateColumnContainer{:align => "center", :style => "padding-top:20px;", :valign => "top"}
                      %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.rightColumnContent{:valign => "top"}
                            %h3 Felicidades a #{@player_portal.first} en su seleccion a un equipo de futbol de Central Marin.
                            %p
                              Este año tenemos una systema nueva en linea para inscribir su hijo/hija. Todos los jugadores pueden inscribirse en linea, pero jugadores nuevos tienen que tener una representativa presente en la presentacion de la informacion del club en el Jueves, el 17 de Marzo a las 7:30pm en el Centro Comunitario de San Rafael. La inscripcion estara disponible en el Centro Communitario de las 7-7:30pm o 8-8:30 para cualquiera que tenga problemas con la inscripcion en linea. Si su familia esta aplicando para una beca, tiene que assistir a la noche registro.
                            %p
                              Miembros de la junta de Central Marin van a estar disponibles de 7-8:30 esa noche para contester todas las preguntas que tengan.
                            %p
                              Por favor
                              %a{:href => player_portal_url(@player_portal.uid, host: 'https://es.centralmarinsoccer.com'), :target => "_blank"}
                                haga clic en el enlace
                              y registre el cumpleaños de su hijo/hija para iniciar la inscripcion de su hijo/hija.
            / // END COLUMNS
