
%div{id: 'info'}
  Click and drag articles from the left column into the right to add them to the carousel. Drag items from the carousel to the recycle bin to remove them from the carousel.

%div{class: 'column'}
  %h3 All Articles by Published Date
  %ul{id: 'article_list'}
    -@articles.each do |article|
      %li{class: 'ui-state-default article ui-state-highlight', data: {id: article.id}}
        =article.title

%div{class: 'column'}
  %h3{id: 'trash'}
    Carousel Items
    %img{src:'/assets/icons/trashcan.jpeg'}
  %ul{id: 'article_carousel_list', class: 'ui-sortable'}
    -@articles_in_carousel.each do |carousel|
      %li{class: 'ui-state-default article_carousel_item', data: {id: carousel.article.id}}
        =carousel.article.title

%input{type: 'button', value: 'save', id: 'save'}

%div{class: 'preview'}
  %hr
  %h3 Carousel Preview

:javascript

  $(function() {
      $( "#trash").droppable({
        accept: ".article_carousel_item",
        hoverClass: "ui-state-hover",
        drop: function(ev, ui) {
          $(ui.helper).remove();
        }
      });
      $( "#article_carousel_list" ).sortable({
        revert: true,
        stop: function(ev, ui) {
          if (!ui.item.hasClass('article_carousel_item'))
            ui.item.attr('class', 'ui-state-default article_carousel_item');
        }
      });
      $( ".article" ).draggable({
        connectToSortable: "#article_carousel_list",
        revert: "invalid",
        helper: "clone"
      });
      $( "ul, li" ).disableSelection();
      $( "#save").click(function() {
        var results = $("#article_carousel_list").sortable('toArray', {attribute: 'data-id'});
        alert(results);
      });
    });