
%p Click and drag articles from the left column into the right to add them to the carousel. Drag items from the carousel to the recycle bin to remove them from the carousel.

%table{border: 1}
  %thead
    %td
      %h3 All Articles by Published Date
    %td
      %h3{id: 'trash'}
        Carousel Items
        %img{src:'/assets/icons/trashcan.jpeg'}

  %tr
    %td
      %ul{id: 'article_list'}
        -@articles.each do |article|
          %li{class: 'ui-state-default article ui-state-highlight'}=article.title

    %td
      %ul{id: 'article_carousel_list', class: 'ui-sortable'}
        -@articles_in_carousel.each do |carousel|
          %li{class: 'ui-state-default article_carousel_item'}
            =carousel.article.title

%hr
%h3 Carousel Preview


:javascript

  $(function() {
      $( "#trash").droppable({
        accept: ".article_carousel_item",
        hoverClass: "ui-state-hover",
        drop: function(ev, ui) {
          $(ui.helper).remove();
        }
      });
      $( "#article_carousel_list" ).sortable({
        revert: true,
        out: function(event, ui) {
        }
      });
      $( ".article" ).draggable({
        connectToSortable: "#article_carousel_list",
        helper: "clone",
        revert: "invalid"
      });
      $( "ul, li" ).disableSelection();
    });