.row
  %h4.info-text Charges Summary
  .col-sm-5.col-sm-offset-1
    %p
      TODO: Description here on how we use your club fees. We're a volunteer run organization. Use the money for Fields, Referees, DOC, field / referee coordinator
  .col-sm-5
    - @fees.each do |type, fees_info|
      %table.table.table-striped{id: (fees_info[:id]), class: ('hidden' if type == :volunteer), data: {description: '2016 Season Club Registration Fees', amount: fees_info[:total]}}
        - total_row = fees_info[:fees].last
        - fees_info[:fees].each do |fee|
          %tr
            %td
              .text-nowrap{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[0]
            %td
              .text-right{class: ('text-danger' if total_row[0] == fee[0])}
                = fee[1]