%div.grid_16.box
  %h2 Online Registration
  = link_to 'Click here to fill out the online registration form', tryouts_registration_url, class: 'alt'

%div.grid_16.box
  %h2
    Pre-Tryouts
  %p
    Want to find out more about Central Marin Tryouts?
    %br
      Have a chance to train with our Coaches prior to Tryouts?
  %p
    Everyone is welcome to our Free Pre-Tryout Playdates Saturday Feb 1st at
    %a{href: 'https://maps.google.com/maps?q=37.935639,-122.523947&num=1&t=h&z=18'} New Ghillotti Field at Redwood High School

    %ul
      %li Boys and Girls U8,9 @1:00-2:30
      %li Boys and Girls U10 @2:00-3:30
      %li Boys and Girls U11 @330-5:00
  %h3{class: 'alt'}
    Information Meetings
  %p
    For parents who would like to come to an information meeting and learn more about Central marin Soccer Club, we will have board members and coaches at the following meetings:
    %ul
      %li
        Jan. 27: 7:00-8:30pm at
        %a{href: 'https://maps.google.com/maps?q=618+B+St,+San+Rafael,+California+94901'} San Rafael Community Center
      %li
        Jan. 30th: 7-8:30pm at
        %a{href: 'https://maps.google.com/maps?q=50+Canal+St,+Canal+Street,+San+Rafael,+CA+94901'} Picklweed Park Community Center