= render :partial => 'tryout_confirmation', locals: { tryout_name: @tryout_info.keys[0], locations: @tryout_info.values[0] }

%div.grid_16
  =link_to t('registration.confirmation.register_another'), tryouts_registration_path


