%div.grid_16
  %h1
    2014 Tryout Confirmation
  %div
    You have been successfully registered for the 2014 Central Marin Soccer tryouts. Your tryouts are at:
  %h4
    Please attend the following tryouts:
    = render :partial => 'tryout_info'
  %div
    Please show up 30 minutes early to get checked in. Wear cleats, shin guards, a plain shirt, and bring water.
  %h2
    =link_to "Click here to register another child", tryouts_registration_path

