%div.grid_16
  %h1
    2014 Tryout Confirmation
  %div
    You have been successfull registered for the 2014 Central Marin Soccer tryouts. Your tryouts are at:
  %h4#tryouts_date_and_times
  %div
    Please show up 30 minutes early to get checked in. Wear cleats, shin guards, a plain shirt, and bring water.

- content_for :javascript do
  = javascript_include_tag "tryouts"
  %script
    $(document).ready(soccer.tryouts.init_confirmation("#{@tryout}"));
