%div.grid_16{:class => @editable == true ? 'editable' : nil, :data => {:name => @part_name}  }
  = @web_parts[@part_name].html.html_safe

%div.grid_16
  %p
    = link_to(t("information.back"), information_path)
