/*

        Creating a sprite from following images:
        
        app/assets/images/coach/adam-dietz.jpg (100x118)
        app/assets/images/coach/brandon-murphy.jpg (97x121)
        app/assets/images/coach/brandon-romeo.jpg (100x119)
        app/assets/images/coach/craig-breslin.jpg (100x120)
        app/assets/images/coach/default-coach.jpg (245x300)
        app/assets/images/coach/eamon-kavanagh.jpg (100x118)
        app/assets/images/coach/jeff-troyer.jpg (99x118)
        app/assets/images/coach/jim-lasher.jpg (100x117)
        app/assets/images/coach/john-barnes.jpg (100x120)
        app/assets/images/coach/joseph-garcia.jpg (100x118)
        app/assets/images/coach/kelly-coffey.jpg (100x120)
        app/assets/images/coach/mark-machado.jpg (100x118)
        app/assets/images/coach/mike-carbone.jpg (100x118)
        app/assets/images/coach/mike-crivello.jpg (100x120)
        app/assets/images/coach/nicole-miller.jpg (100x118)
        app/assets/images/coach/phil-bellici-gard.jpg (100x118)
        app/assets/images/coach/sjur-hatloe.jpg (90x115)
        app/assets/images/coach/steven-sosa.jpg (100x120)
        app/assets/images/coach/tom-ryan.jpg (72x96)

        Output files:
          app/assets/images/coach.png
          app/assets/images/coach.css

        Output size:
          2003x300


*/
img.adam-dietz { width: 100px; height: 118px; background: image-url('coach.png') 0px -91px no-repeat; }
img.brandon-murphy { width: 97px; height: 121px; background: image-url('coach.png') -100px -89px no-repeat; }
img.brandon-romeo { width: 100px; height: 119px; background: image-url('coach.png') -197px -90px no-repeat; }
img.craig-breslin { width: 100px; height: 120px; background: image-url('coach.png') -297px -90px no-repeat; }
img.default-coach { width: 245px; height: 300px; background: image-url('coach.png') -397px 0px no-repeat; }
img.eamon-kavanagh { width: 100px; height: 118px; background: image-url('coach.png') -642px -91px no-repeat; }
img.jeff-troyer { width: 99px; height: 118px; background: image-url('coach.png') -742px -91px no-repeat; }
img.jim-lasher { width: 100px; height: 117px; background: image-url('coach.png') -841px -91px no-repeat; }
img.john-barnes { width: 100px; height: 120px; background: image-url('coach.png') -941px -90px no-repeat; }
img.joseph-garcia { width: 100px; height: 118px; background: image-url('coach.png') -1041px -91px no-repeat; }
img.kelly-coffey { width: 100px; height: 120px; background: image-url('coach.png') -1141px -90px no-repeat; }
img.mark-machado { width: 100px; height: 118px; background: image-url('coach.png') -1241px -91px no-repeat; }
img.mike-carbone { width: 100px; height: 118px; background: image-url('coach.png') -1341px -91px no-repeat; }
img.mike-crivello { width: 100px; height: 120px; background: image-url('coach.png') -1441px -90px no-repeat; }
img.nicole-miller { width: 100px; height: 118px; background: image-url('coach.png') -1541px -91px no-repeat; }
img.phil-bellici-gard { width: 100px; height: 118px; background: image-url('coach.png') -1641px -91px no-repeat; }
img.sjur-hatloe { width: 90px; height: 115px; background: image-url('coach.png') -1741px -92px no-repeat; }
img.steven-sosa { width: 100px; height: 120px; background: image-url('coach.png') -1831px -90px no-repeat; }
img.tom-ryan { width: 72px; height: 96px; background: image-url('coach.png') -1931px -102px no-repeat; }
