%div.grid_16
  %h1 2014 Tryouts

%div.grid_16.box
  %h2
    Pre-Tryouts
  %p
    Want to find out more about Central Marin Tryouts?
    %br
      Have a chance to train with our Coaches prior to Tryouts?
  %p
    Everyone is welcome to our Free Pre-Tryout Playdates Saturday Feb 1st at
    %a{href: 'https://maps.google.com/maps?q=37.935639,-122.523947&num=1&t=h&z=18'} New Ghillotti Field at Redwood High School

    %ul
      %li Boys and Girls U8,9 @1:00-2:30
      %li Boys and Girls U10 @2:00-3:30
      %li Boys and Girls U11 @330-5:00
  %h3{class: 'alt'}
    Information Meetings
  %p
    For parents who would like to come to an information meeting and learn more about Central marin Soccer Club, we will have board members and coaches at the following meetings:
    %ul
      %li
        Jan. 27: 7:00-8:30pm at
        %a{href: 'https://maps.google.com/maps?q=618+B+St,+San+Rafael,+California+94901'} San Rafael Community Center
      %li
        Jan. 30th: 7-8:30pm at
        %a{href: 'https://maps.google.com/maps?q=50+Canal+St,+Canal+Street,+San+Rafael,+CA+94901'} Picklweed Park Community Center

%div.grid_16.box
  %h2 Tryouts

  %h2{class: 'alt'}
    Boys and Girls U8, U9
  %p
    Feb 8 9:00-11:00 @ Marin Academy
    %br
      Feb 15th 9:00-11:00 @ Marin Academy

  %h2{class: 'alt'}
    Girls U10
  %p
    Feb 8 11:00-1:00 @ Marin Academy
    %br
      Feb 15th 11:00-1:00 @ Marin Academy

  %h2{class: 'alt'}
    Boys U10
  %p
    Feb 9th 9:00-11:00 @ Marin Academy
    %br
      Feb 16th 9:00-11:00 @ Marin Academy

  %h2{class: 'alt'}
    Girls U11
  %p
    Feb 9th 9:00-11:00 @ Marin Academy
    %br
      Feb 16th 11:00-1:00 @ Marin Academy

  %h2{class: 'alt'}
    Boys U11
  %p
    Feb 9th 11:00-1:00 @ Marin Academy
    %br
      Feb 16th 11:00-1:00 @ Marin Academy

  %h2{class: 'alt'}
    Boys and Girls U12-U14
  %p
    The tryouts for U12-U14 boys and girls are in process and we will provide the schedule as soon as possible.

  %h2{class: 'alt'}
    Boys and Girls U15-U19
  %p
    The tryouts for U15-U19 boys and girls will be announced in the spring
