%h1.grid_16= t('contact.heading')

- Contact.categories.each do |symbol, value|
  %div.grid_16.box
    %h2.alt= t('contact.' + symbol)
    - @contacts_by_category[symbol.to_sym].each do |contact|
      = render partial: 'contact_info', :locals => {contact: contact }

TODO: Add text about who to contact if you are interested in any open board positions
