//#map_canvas {
//    height: 450px;
//}

#fields {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: auto;

  .odd {
    background-color: #0d0f22;
  }

  .even {
    background-color: #2a3142;
  }
  li {
    color: #d6d7da;
    cursor: pointer;
  }

  li:hover {
    background-color: #887637;
  }

  li:active {
    background-color: #ffebcd;
  }
}

.subheading {
  padding: 10px 0 5px 5px;
}

#map_canvas {
  div {
    color: black;
  }
}
