#map_canvas {
    height: 450px;
}

#fields {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: auto;

  .odd {
    background-color: #c0402a;
  }

  .even {
    background-color: #b2b2b2;
  }
}

.field {
  h2 {
    margin: 0;
  }

}
.field:hover {
    background-color: #d3d3d3;
}

.field:active {
    background-color: #ffebcd;
}