/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require coach
*/

table {
  width: 100%;
}
table td {
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
}

.scroll-box {
  overflow: auto;
  height: 200px;
}

#info {
  border-bottom-width: 5px;
  border-bottom-style: none;
}

#record {
  float: right;
}
