    <!--<div class="grid_6"><h2>Sponsors</h2></div>-->
    <!--<div class="grid_6"><h2>Associations</h2></div>-->
    <!--<div class="clear"></div>-->
    <!--<div class="grid_2"><%=  link_to image_tag("sponsors/SOlogo2.jpg", :width => 100, :height => 104), "http://www.ussportscamps.com/soccer/nike/", :target => "_blank" %></div>-->
    <!--<div class="grid_2"><%=  link_to image_tag("sponsors/prcompostco.jpg", :width => 140, :height => 108), "http://www.prcompostco.com/", :target => "_blank" %></div>-->
    <!--<div class="grid_2"><%=  image_tag("sponsors/flatiron.jpg", :width => 150, :height => 51) %></div>-->
